{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Buyurtma</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nomi</th>
      <th scope="col">Rasmi</th>
      <th scope="col">Narxi</th>
      <th scope="col">Soni</th>
        <th scope="col">Jami narxi</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
          <th scope="row">{{ item.content_object.title }}</th>
          <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
          <td>{{ item.content_object.price }} $.</td>
          <td>{{ item.qty }}</td>
            <td>{{ item.final_price }} $.</td>
        </tr>
    {% endfor %}
        <tr>
          <td colspan="2"></td>
          <td>Jami:</td>
          <td>{{ cart.total_products }}</td>
          <td><strong>{{ cart.final_price }} $.</strong></td>
        </tr>
  </tbody>
</table>
<hr>
<h3 class="text-center mt-5 mb-5">Buyurtma shakli</h3>
<form action="{% url 'make_order' %}" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-success btn-block mb-3" values="Tekshirib ko'rmoq">
</form>
{% endblock content %}
