<table class="table">
  <tbody>
    <tr>
      <td>Dioganal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Display turi</td>
      <td>{{ product.display_type }}</td>
    </tr>
      <tr>
      <td>Prassesor chastotasi</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
      <tr>
      <td>Operativ xotira</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>Videokarta</td>
      <td>{{ product.video }}</td>
    </tr>
      <tr>
      <td>Batareya ishlash vaqti</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>
