<table class="table">
  <tbody>
    <tr>
      <td>Dioganal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Display turi</td>
      <td>{{ product.display_type }}</td>
    </tr>
      <tr>
      <td>Ekran o'lchami</td>
      <td>{{ product.resolution }}</td>
    </tr>
      <tr>
      <td>Batareya hajmi</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
      <tr>
      <td>Operativ xotira</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>SD karta</td>
      <td>{{ product.sd }}</td>
    <tr>
      <td>maksimal SD hajim</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Kamera(MP)</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Asosiy kamera (МP)</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>
